@font-face {
    font-family: Etch;
    src: url(fonts/AlexBrush-Regular.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;

    font-family:Arial, Helvetica, sans-serif;
}


.wrapper{
    background-color: #483c32;
    height: 100vh;
    width: 100vw;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 20px; 
    height: 90vh;
    width: 65vw;
}

.title-wrapper{
    display: flex;
    width: 65vw;
    justify-content: center;
    align-items: center;
    margin: 2%;
    flex-direction: column;
}

.title{
    color: gold;
    font-size: 4vw;
    font-weight: 600;
}

.color-toggle{
    color: gold;
    font-size: 1.5vw;
    font-weight: 400;
}

#grid-container{
    display: flex;
    background-color: #4c6a20;
    border-radius: 10px;
    height: 60vh;
    width: 70%;
    flex-direction:column;
}

.grid-col{
    display: flex;
    flex: 1;
}
.grid-row{
    flex: 1;
}

/*#grid-box{
    
}*/

.bottom{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    width: 65vw;

    color: gold;
}

.bottom p{
    font-size: 1.5em;
}

.controls{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.left-knob, .right-knob{
    margin: 1%;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    background-color:antiquewhite;
}

.color, .grid-size{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 1vh
}


.hover{
    background-color: #006400;
}